<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected | Stytch Demo App</title>
</head>
<body style="font-family: sans-serif;">
    <h1>Check your email!</h1>
    <p>We've sent an email with a link you can click to finish signing in.</p>
</body>
</html>